body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
ul li a {
  color: black;
  text-decoration: none;
}
ul li a:visited {
  color: black;
}

.burger-menu {
  position: relative;
  top: 32px;
  right: 32px;
  width: 200px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: #298549;
  cursor: pointer;
  z-index: 201;
}
.burger-menu .burger_text {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.burger-menu .burger_text span {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: transform ease-in-out, opacity ease-in-out;
}
.burger-menu .burger_text span.burger_text__close {
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
}
.burger-menu .burger_lines {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 16px 12px;
  box-sizing: border-box;
  background: #F77171;
  border-radius: 50%;
  overflow: hidden;
}
.burger-menu .burger_lines span {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
}
.burger-menu .burger_lines span:nth-of-type(1) {
  top: 15px;
}
.burger-menu .burger_lines span:nth-of-type(2) {
  top: 24px;
}
.burger-menu .burger_lines span:nth-of-type(3) {
  bottom: 15px;
}

header {
  width: 100%;
  display: block;
}
header .navigation {
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100vh;
  display: flex;
  z-index: 200;
  box-sizing: border-box;
}
@media only screen and (max-width: 799px) {
  header .navigation {
    height: calc(100% - 40px);
    width: 100%;
    overflow-y: visible;
    padding: 97px 20px 20px 20px;
  }
}
header .navigation .navigation_links {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 40px;
  z-index: 601;
}
@media only screen and (max-width: 799px) {
  header .navigation .navigation_links {
    padding-top: 32px;
  }
}
header .navigation .navigation_links:hover li {
  transform: scale3d(0.8, 0.8, 1);
  opacity: 0.5;
}
header .navigation .navigation_links:hover li:hover {
  transform: scale(1.05);
  opacity: 1;
}
header .navigation .navigation_links:hover li:hover .nav__link {
  opacity: 1;
}
header .navigation .navigation_links li {
  padding: 20px 0;
  overflow: hidden;
  transform-origin: left;
  transition: all 0.3s ease-out;
}
header .navigation .navigation_links li .nav__link {
  position: relative;
  display: inline-block;
  font-size: 70px;
  font-weight: 400;
  text-decoration: none;
  visibility: hidden;
  transform: translateY(110%);
  transition: all cubic-bezier(0.65, -0.49, 0.91, 0.99);
}
@media only screen and (max-width: 799px) {
  header .navigation .navigation_links li .nav__link {
    font-size: 22px;
  }
}
header .nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 0;
}
header .nav-bg .nav-bg_rect {
  width: 25%;
  height: 100%;
  background-color: #DEF1F0;
  border: 1px solid #d1e3e2;
  transform-origin: top left;
  transform: scaleY(0);
  transition: transform cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*# sourceMappingURL=style.css.map */
