$breakpoints: (
	"mobile": 800px,
	"tablet": 1024px,
	"laptop": 1440px
	);
	
	@mixin media($width, $type: max) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
};


@mixin order($flex, $direction, $wrap, $justify, $align) {
    display: $flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
};

$green: #298549;
$redish: #F77171;
$Lblue: #DEF1F0;

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;

        a {
            color: black;
            text-decoration: none;

            &:visited {
                color: black;
            }
        }
    }
}

.burger-menu {
    position: relative;
    top: 32px;
    right: 32px;
    width: 200px;
    height: 64px;
    @include order(flex, null, null, space-between, center);
    margin-left: auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: $green;
    cursor: pointer;
    z-index: 201;

    .burger_text {
        @include order(flex, column, wrap, null, null);
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        
        span {
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            color: white;
            transition: transform ease-in-out,opacity ease-in-out;
            
            &.burger_text__close {
                transform: translateY(100%);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    
    .burger_lines {
        position: relative;
        width: 50px;
        height: 50px;
        @include order(flex, column, wrap, space-between, null);
        padding: 16px 12px;
        box-sizing: border-box;
        background: $redish;
        border-radius: 50%;
        overflow: hidden;
        
        span {
            position: absolute;
            display: block;
            width: 24px;
            height: 2px;
            background-color: white;

            &:nth-of-type(1) {
                top: 15px;
            }
            &:nth-of-type(2){
                top: 24px;
            }
            &:nth-of-type(3) {
                bottom: 15px;
            }
        }
    }
}

header {
    width: 100%;
    display: block;
    
    .navigation {
        position: fixed;
        top: 0;
        left: 25%;
        width: 50%;
        height: 100vh;
        display: flex;
        z-index: 200;
        box-sizing: border-box;

        @include media('mobile') {
            height: calc(100% - 40px);
            width: 100%;
            overflow-y: visible;
            padding: 97px 20px 20px 20px;
        }

        .navigation_links {
            position: relative;
            @include order(flex, column, null, center, null);
            padding: 40px;
            z-index: 601;
            
            @include media('mobile') {
                padding-top: 32px;
            }
            
            &:hover {
                li {
                    transform: scale3d(.8, .8, 1);
                    opacity: .5;
                }

                li {
                    &:hover  {
                        transform: scale(1.05);
                        opacity: 1;
                        
                        .nav__link {
                            opacity: 1;
                        }
                    }
                }
            }
            
            li {
                padding: 20px 0;
                overflow: hidden;
                transform-origin: left;
                transition: all .3s ease-out;
                
                .nav__link {
                    position: relative;
                    display: inline-block;
                    font-size: 70px;
                    font-weight: 400;
                    text-decoration: none;
                    visibility: hidden;
                    
                    transform: translateY(110%);
                    transition: all cubic-bezier(.65,-0.49,.91,.99);
                    
                    @include media('mobile') {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .nav-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        z-index: 0;

        .nav-bg_rect {
            width: 25%;
            height: 100%;
            background-color: $Lblue;
            border: 1px solid #d1e3e2;
            transform-origin: top left;
            transform: scaleY(0);
            transition: transform cubic-bezier(.645,.045,.355,1);
        }
    }
}
